<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            background-color: #EFF4FE;
            padding: 148px 220px 30px;

            gap: 40px;
        }

        .content1 {
            margin: auto auto 40px;
            background-color: white;
            padding: 65px 0 0;
            position: relative;
            border-radius: 20px;
            -moz-box-shadow: 0px 60px 100px -14px rgba(47, 100, 221, 0.17);
            -webkit-box-shadow: 0px 60px 100px -14px rgba(47, 100, 221, 0.17);
            box-shadow: 0px 60px 100px -14px rgba(47, 100, 221, 0.17);
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            max-height: 1125px;
            height: 100%;

        }

        .content1 img {
            margin: auto;

        }

        .experienceImg {
            margin-top: 30px;
        }

        .title {

            font-weight: 700;
            font-size: 40px;
            line-height: 110%;
            text-align: center;
            color: #24304F;
            margin: auto;
            padding-left: 65px;
            padding-right: 65px;
        }


        .dearText {
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            color: #566488;
            padding-left: 65px;
            padding-right: 65px;
            text-align: center;
        }

        .loginButton {
            max-width: 231px;
            cursor: pointer;
            width: 100%;
            height: 54px;
            background: #4E7FF1;
            box-shadow: 0px 10px 40px rgba(78, 127, 241, 0.27);
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            margin-left: 65px;
            margin-top: 30px;
            margin-bottom: 30px;

        }
        .companyBlock{
            margin-right: 65px;
            margin-left: 65px;
            background: #4E7FF1;
            border-radius: 10px;
            padding: 40px 30px ;
            margin-bottom: 10px;
            margin-top: 10px;

        }
        .companyItem{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px dashed rgba(255, 255, 255, 0.3);

        }
        .companyItem p{
            font-size: 18px;
            color: #FFFFFF;

        }
        .footerText {
            font-size: 14px;
            line-height: 160%;
            text-align: center;
            color: #8B96B5;
            margin: 30px auto auto;
        }

        @media screen and (max-width: 600px) {
            .container {
                padding-right: 38px !important;
                padding-left: 38px !important;
                padding-top: 20px !important;
            }

            .content1 {

                padding: 25px 0 0;
                margin: auto auto 40px;


            }


            .title {
                width: 100%;
                font-size: 26px;
                text-align: left;

                padding-left: 20px;
                padding-right: 20px;
            }


            .dearText {
                font-size: 14px;
                text-align: left;
                padding-left: 20px;
                padding-right: 20px;
            }
            .companyBlock{
                padding: 20px;
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 0;
                margin-bottom: 0;
            }
            .companyItem p{
                font-size: 14px;

            }
            .loginButton {
                max-width: 100%;
                width: 90%;
                margin: auto;
            }

            .footerText {
                font-size: 14px;
                line-height: 160%;
                text-align: center;
                color: #8B96B5;
                margin: 30px auto auto;
            }
        }


    </style>
</head>
<body>
<div class="container">
    <div class="content1">
        <p class="title"><span style="color: #4E7FF1">Completed</span> company<br/> registration</p>
        <p class="dearText">A new company has successfully submitted all the necessary documents for registration in <b>Nice.</b></p>
        <div class="companyBlock">
            <div class="companyItem">
                <p style="opacity: 0.7;">Company name:</p>
                <p style="font-weight: 700;margin: auto 0 auto auto;">Lolosha</p>
            </div>
            <div class="companyItem">
                <p style="opacity: 0.7;">Company ID :</p>
                <p style="font-weight: 700;margin: auto 0 auto auto;">1984</p>
            </div>
            <div class="companyItem">
                <p style="opacity: 0.7;">Country:</p>
                <p style="font-weight: 700;margin: auto 0 auto auto;">France</p>
            </div>
            <div class="companyItem">
                <p style="opacity: 0.7;">City:</p>
                <p style="font-weight: 700;margin: auto 0 auto auto;">Nice</p>
            </div>
        </div>
        <p class="dearText"><b>Please check the information on the Dashboard and accept or refuse candidate.</b></p>
        <img src="http://194.163.142.233:3000/completedCompany.png" width="100%" class="experienceImg"/>
    </div>


    <p class="footerText">Made with ❤<br/> This is an automated email - please do not reply to it.</p>
</div>
</body>
</html>


